body {
  min-height: 100vh;
  background-image: url("../images/house/house-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
html, body{min-height:100%;}

.full-size {
  height: 100%;
  width: 100%;
}

h1 {
  color: black;
  max-width: 900px;
}

h4 {
  color: black;
  max-width: 700px;
  line-height: 1.5;
  font-weight: normal;
  font-size: 17px;
}

p {
  color: black;
  max-width: 700px;
  line-heigth: 1.5;
}

ul {
  list-style-type: none;
  font-size: 19px
}

a.roomnav {
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.roomnav:visited{
  color: black;
}

a.roomnav:hover{
  color: #0000ee;
}

a.magic{
  font-weight: bold;
}

a.magic:link {
  color: black;
}

a.magic:hover {
  color: #0000ee;
}

a.magic:visited {
  color: #900000;
}

a.magic:active {
  color: #00ffff;
}
