* {
  /*font-family: pointfree;
  src: url(pointfree.ttf)*/
  font-family: Verdana,sans-serif;
}


h1 {
  color: SeaGreen;
}

p {
  font-size: 21px;
  width: 600px;
}


a {
  text-decoration: none;
}
