.variables {
    --lightest_green: #E1F3D4;
    --lighter_green: #CDECB6;
    --light_green: #B1E28D;
    --green: #53961f;
    --dark_green: #2E5016;
    --darker_green: #1A3209;

    --lightest_purp: #E5E0FA;
    --lighter_purp: #C8BEF4;
    --light_purp: #B5A8F0;
    --purp: #9B89EB;
    --dark_purp: #1F115F;

    --cyan: #61B399;
    --dark_cyan: #326756;
}

/****************
*** DEFAULTS
*****************/
* { 
    background-color:var(--lightest_purp);
    font-family:"Brush Script MT", cursive;
    color: var(--dark_purp);
}

html { 
    height: 100%; 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* HEADINGS DEFAULT */
h1, h2, h3, h4, h5, h6 { 
    color: var(--dark_purp);
    background-color: var(--lightest_purp);
    text-decoration: none;
}
ul, ol { margin-left: 40px; }
hr { margin: 10px 0px; opacity: .25; }

a {
    color: var(--dark_cyan);
    background-color: var(--lightest_purp);
    border-style: solid;
    border-color: var(--dark_purp);
    text-decoration: underline;
    padding: 3px 7px;
    margin: 7px;
}

a:hover {
    color: var(--cyan);
    text-decoration: underline;
}

/* NOTIFICATION MESSAGES */
.message {
        width: 90%; 
        margin: 10px auto; 
        padding: 10px; 
        color: #3c763d; 
        background: #dff0d8; 
        border: 3px solid #3c763d;
        text-align: center;
}

.error {
        color: #a94442; 
        background: #f2dede; 
        border: 3px solid #a94442; 
        margin-bottom: 20px;
}

.logged_in_info {
        text-align: right; 
        padding: 10px;
}
