/****************
*** DEFAULTS
*****************/
* { 
    margin: 12px; 
    padding: 21px;
    background-color:#E1F3D4;
    font-family:"Brush Script MT", cursive;
    color: #335819;
}

html { height: 100%; box-sizing: border-box; }

/* NAVBAR */
nav {
    margin: 0 auto;
    overflow: hidden;
    font-family:"Brush Script MT", cursive;
    background-color:#95D468;
    border-radius: 0px 0px 6px 6px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: #335819;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    color: #1A3209;
    background-color: #95D468;
}

nav ul li form {
    padding: 0px;
} 

nav ul li input {
    padding: 6px;
}

nav ul li input:hover { 
    color: #1A3209;
    background-color: #95D468;
}

nav h1 {
        color: #335819;
        font-size: 2em;
        font-weight: 100;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* HEADINGS DEFAULT */
h1, h2, h3, h4, h5, h6 { color: #444;}
a { text-decoration: none; }
ul, ol { margin-left: 40px; }
hr { margin: 10px 0px; opacity: .25; }

/* NOTIFICATION MESSAGES */
.message {
        width: 100%; 
        margin: 0px auto; 
        padding: 10px 0px; 
        color: #3c763d; 
        background: #dff0d8; 
        border: 1px solid #3c763d;
        border-radius: 5px; 
        text-align: center;
}
.error {
        color: #a94442; 
        background: #f2dede; 
        border: 1px solid #a94442; 
        margin-bottom: 20px;
}
.validation_errors p {
        text-align: left;
        margin-left: 10px;
}
.logged_in_info {
        text-align: right; 
        padding: 10px;
}
