.variables {
    --lightest_green: #E1F3D4;
    --lighter_green: #CDECB6;
    --light_green: #B1E28D;
    --dark_green: #2E5016;
    --darker_green: #1A3209;

    --lightest_purp: #E5E0FA;
    --lighter_purp: #C8BEF4;
    --light_purp: #B5A8F0;
    --purp: #9B89EB;
    --dark_purp: #1F115F;

    --cyan: #61B399;
    --dark_cyan: #326756;
}

main{
    position: relative;
}

main h2 {
    margin-left: 12px;
}

.post{
    padding: 12px;
    position: relative;
    width: 80%;
    background-color:var(--purp);
    margin: 12px;
}

h3 {
    background-color: var(--lighter_purp);
    color: var(--dark_purp);
    padding: 7px 10px;
    margin: 0px;
    margin-bottom: 12px;
}

h3 a {
    background-color: var(--lighter_purp);
    color: var(--dark_purp);
    border: none;
    height: 40px;
    margin: 0px;
    padding: 0;
}

h3 a:hover {
    color: var(--purp);
}

.post .phrase{
    background-color: var(--lighter_green);
    padding: 7px 10px;
    margin: 0px;
    color: var(--dark_green);
}

